<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.0.0" targetFramework="net461" />
  <package id="Azure.Core" version="1.4.1" targetFramework="net461" />
  <package id="Azure.Search.Documents" version="11.1.1" targetFramework="net461" />
  <package id="Cosmonaut" version="2.11.3" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.5.16" targetFramework="net461" />
  <package id="Humanizer.Core.uk" version="2.5.16" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Features" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Azure.Amqp" version="2.4.8" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB.Core" version="2.5.1" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.ServiceBus" version="5.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Graph" version="3.15.0" targetFramework="net461" />
  <package id="Microsoft.Graph.Core" version="1.21.0" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="4.19.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.8.1" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.0.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net461" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="4.7.1" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.0.0" targetFramework="net461" />
  <package id="System.Net.NetworkInformation" version="4.1.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.WebHeaderCollection" version="4.0.1" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.0.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.0.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.SecureString" version="4.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net461" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="trifenix.connect" version="0.8.66" targetFramework="net461" />
  <package id="trifenix.connect.arguments" version="0.8.46" targetFramework="net461" />
  <package id="trifenix.connect.bus" version="0.8.45" targetFramework="net461" />
  <package id="trifenix.connect.db.cosmos" version="0.8.47" targetFramework="net461" />
  <package id="trifenix.connect.entities.cosmos" version="0.8.58" targetFramework="net461" />
  <package id="trifenix.connect.graph" version="0.8.46" targetFramework="net461" />
  <package id="trifenix.connect.interfaces" version="0.8.13" targetFramework="net461" />
  <package id="trifenix.connect.interfaces.db.cosmos" version="0.8.48" targetFramework="net461" />
  <package id="trifenix.connect.interfaces.external" version="0.8.45" targetFramework="net461" />
  <package id="trifenix.connect.interfaces.search" version="0.8.47" targetFramework="net461" />
  <package id="trifenix.connect.mdm" version="0.8.53" targetFramework="net461" />
  <package id="trifenix.connect.mdm.search.model" version="0.8.46" targetFramework="net461" />
  <package id="trifenix.connect.search" version="0.8.47" targetFramework="net461" />
  <package id="trifenix.connect.test.mock" version="0.8.45" targetFramework="net461" />
  <package id="trifenix.connect.translate" version="0.8.50" targetFramework="net461" />
</packages>